---
---
@import "uno";
@import "tables";
@import "monokai";

/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid lightskyblue;
  border-radius: 20px;
  color: lightskyblue;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 0.7em;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}

//Resume styling 

#main-post-list { font: 16px Helvetica, Sans-Serif; line-height: 24px; }
.clear { clear: both; }
#page-wrap { width: 100%; margin: 40px auto 60px; }
#pic { float: right; margin: -30px 0 0 0; max-width:30%}
.fn { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -1px; border-bottom: 1px solid #BBB; }
.h2resume { font-size: 1.1em; margin: 0 0 2px 0; position: relative; }
.spanresume  { display: block; margin-bottom: 15px; margin-top:5px; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 1em; color: #BBB; font-weight: normal; }
.h2resume{ bottom: 0; right: 0; ; font-family: Georgia, Serif; font-size: 1.4em; color: #BBB; letter-spacing: -1px; font-weight: bold; }
.presume { margin: 0 0 16px 35px;}
.whitespace {margin-bottom: 35px;}
.email { color: #888; text-decoration: none; border-bottom: 1px dotted #999; }
.email:hover { border-bottom-style: solid; color:lightskyblue; }
.ulresume { display: block; margin: 0 0 15px 45px; }
#objective { width: 100%; float: left; }
#objective .presume { font-family: Georgia, Serif; font-style: italic; color: #CCC; }
dt { font-style: italic; font-weight: bold; text-align: left; padding: 0 14px 0 0; width: 110px; float: left; height: 100px; border-right: 1px solid #BBB;  }
dd { width: 75%; float: right; }
dd.clear { float: none; margin: 0; height: 50px; }
dd.space {height: 25px;}
.liresume {margin-bottom: 0.5em; padding: 0;}

//comments

.individual-comment {
  border:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:#232b32;
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 10px;
  width:80%;
  justify-content: center;
  clear:both;
  margin-left:5%;

}

.comment-submit:hover{
  
  border: 1px solid lightskyblue;
}
#comment-text::placeholder {
  color: #CCC;
  
}
  #comment-name::placeholder {
    color: #CCC;
    text-align:center;
    
}
#send-icon{
  color:white;
  vertical-align: center;
}
.comment-submit:hover #send-icon{
  color:lightskyblue
}

.comment-form{
  margin-top:50px;
  width: 80%;
  margin-left:5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:#232b32;
  border-radius: 6px;
  padding: 1em;
  font-family: "Roboto Slab", serif;
  color:#CCC;
  text-align:center;
}
#comment-name, #comment-text{
  font-size: 18px;
  color:#CCC;
  margin-left:3%;
  margin-bottom:10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:88%;
  border-radius: 6px;
  border: 1px solid #232b32;
  text-align:center;
  background-color:#232b32;
  border:1px solid #232b32;
}
  #comment-name {
    margin-top:20px;
    font-size: 18px;
    color:#CCC;
    //margin-left:5%;
    margin-bottom:10px;
    width:85%;
    border-radius: 6px;
  }
  #comment-name:focus {
    border:1px solid lightskyblue;
  }
  #comment-text:focus {
    border:1px solid lightskyblue;
  }
#comment-text{
  padding:30px 10px 30px 10px;
}
.comment-submit{
  transition-duration: 0.2s;
  background-color: #232b32;
  border: none;
  margin: 4px 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin-bottom: 5px;
  width:70%;
  height:60px;
  margin-left:3%;
}