---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%Y-%m-%d %H:%M" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time>
      {% if page.tags.size > 0 %}
      &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}</span>
      {% endif %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
</article>

<!-- Comments -->
{% if site.data.comments[page.slug] %}
    <h3 style="margin-left:10%">
    {% if site.data.comments[page.slug].size > 1 %}
      {{ site.data.comments[page.slug] | size }}
    {% endif %}
    Comments:
    </h3>
  {% assign comments = site.data.comments[page.slug] | sort %}
    {% for comment in comments %}
    <div class="individual-comment">
      <label>
        {% if comment[1].url %}
          <a href="{{ comment[1].url }}">
        {% endif %}
        <strong class=individual-comment-text>{{ comment[1].name }}</strong>
        {% if comment[1].url %}
          </a>
        {% endif %}
      </label>
      <em class=individual-comment-text>{{ comment[1].date | date: "%B %d, %Y" }}</em>
      <hr class="comment-divider">
      <p class=individual-comment-text>{{ comment[1].message | markdownify }}</p>
    </div>
    {% endfor %}
{% endif %}
<!-- Comments Form -->
<div class="comment-form">
  <form method="POST" action="{{ site.staticman_url }}">
   <input name="options[redirect]" type="hidden" value="https://molaliyski.com{{ page.url }}">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
      <input id="comment-name" name="fields[name]" type="text" placeholder="My name is...">
      <br>
      <textarea id="comment-text" name="fields[message]" rows="4" placeholder="and I'd like to tell you, that..."></textarea></label>
      <br>
      <button class="comment-submit" type="submit"><i class="fas fa-paper-plane fa-2x" id="send-icon"></i></button>
      <br>
      <small style="font-style: italic; font-size: 14px; margin-bottom:20px">Comments support Markdown and will appear after moderation.</small>
  </form>
</div>